<?xml version="1.0"?>      <config>          <modules>              <SD_Ordercomments>                  <version>0.1.1</version>              </SD_Ordercomments>          </modules>         <frontend>                <events>              <checkout_type_onepage_save_order>                  <observers>                      <SD_Ordercomments_Onepage>                          <type>singleton</type>                          <class>SD_Ordercomments_Model_Observer</class>                            <method>setOrderComment</method>                                </SD_Ordercomments_Onepage>                              </observers>              </checkout_type_onepage_save_order>          </events>      </frontend>        </config> 