<config>    <modules>        <ServU_AutomaticInvoice>            <version>0.0.1</version>	</ServU_AutomaticInvoice>    </modules>    <global>        <models>            <servu_automaticinvoice>                <class>ServU_AutomaticInvoice_Model</class>            </servu_automaticinvoice>        </models>               <events>            <sales_order_save_after>                <observers>                    <servu_automaticinvoice_automatically_complete_order>                        <class>servu_automaticinvoice/observer</class>                        <method>automaticallyInvoice</method>                    </servu_automaticinvoice_automatically_complete_order>                </observers>                           </sales_order_save_after>        </events>           </global></config>