<?xml version="1.0"?>
<config>
    <modules>
        <SD_ReviewReminder>
            <version>0.0.8</version>
	</SD_ReviewReminder>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <reviewreminder before="Mage_Adminhtml">SD_ReviewReminder_Adminhtml</reviewreminder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <reviews_ratings>
                        <children>
                            <reviewreminder module="reviewreminder">
                                <title>Review Reminders</title>
                                <sort_order>50</sort_order>
                                <children>
                                    <history module="reviewreminder">
                                        <title>History</title>
                                        <sort_order>0</sort_order>
                                        <action>adminhtml/historyReview</action>
                                    </history>
                                    <individual module="reviewreminder">
                                        <title>Individual Statistics</title>
                                        <action>adminhtml/individualReview</action>
                                    </individual>
                                </children>
                            </reviewreminder>
                        </children>
                    </reviews_ratings>
                </children>
            </catalog>
        </menu>
        <layout>
            <updates>
                <reviewreminder>
                    <file>sd_reviewreminder.xml</file>
                </reviewreminder>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <reviewreminder>
                    <file>reviewreminder.xml</file>
                </reviewreminder>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <reviewreminder_product_track>
                        <class>reviewreminder/observer</class>
                        <method>trackResponse</method>
                    </reviewreminder_product_track>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <controller_action_predispatch_cms_index_index>
                <observers>
                    <reviewreminder_product_track>
                        <class>reviewreminder/observer</class>
                        <method>trackResponse</method>
                    </reviewreminder_product_track>
                </observers>
            </controller_action_predispatch_cms_index_index>
        </events>
    </frontend>
    <global>
        <models>
            <reviewreminder>
                <class>SD_ReviewReminder_Model</class>
                <resourceModel>reviewReminder_mysql4</resourceModel>
            </reviewreminder>
            <reviewReminder_mysql4>
                <class>SD_ReviewReminder_Model_Mysql4</class>
                <entities>
                    <reviewReminder>
                        <table>sd_review_mailed</table>
                    </reviewReminder>
                    <emails>
                        <table>sd_review_emails</table>
                    </emails>
                </entities>
            </reviewReminder_mysql4>
        </models>
        <blocks>
            <reviewreminder><class>SD_ReviewReminder_Block</class></reviewreminder>
        </blocks>
        <resources>
            <reviewreminder_setup>
                <setup>
                    <module>SD_ReviewReminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reviewreminder_setup>
            <reviewreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reviewreminder_write>
            <reviewreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reviewreminder_read>
        </resources>
        <helpers>
            <reviewreminder>
                <class>SD_ReviewReminder_Helper</class>
            </reviewreminder>
        </helpers>
        <events>
            <review_save_before>
                <observers>
                    <reviewreminder_check>
                        <class>reviewreminder/observer</class>
                        <method>reviewCheck</method>
                    </reviewreminder_check>
                </observers>
            </review_save_before>
        </events>
        <template>
            <email>
                <reviewreminder_reviewreminder_first_email_template>
                    <label>Review Reminder First Email</label>
                    <file>reviewreminder/reviewreminder_first.html</file>
                    <type>html</type>
                </reviewreminder_reviewreminder_first_email_template>
                <reviewreminder_reviewreminder_second_email_template>
                    <label>Review Reminder Second Email</label>
                    <file>reviewreminder/reviewreminder_second.html</file>
                    <type>html</type>
                </reviewreminder_reviewreminder_second_email_template>
                <reviewreminder_settings_promotion_email_template>
                    <label>Review Reminder Promotion Email</label>
                    <file>reviewreminder/promotion.html</file>
                    <type>html</type>
                </reviewreminder_settings_promotion_email_template>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <reviewreminder>
                <schedule>
                    <!--Run job at 1am, uncomment the next line to do so-->
                    <cron_expr>15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>reviewreminder/observer::reminderMaintenance</model>
                </run>
            </reviewreminder>
        </jobs>
    </crontab> 
</config>
