<?xml version="1.0"?>
<config>
    <modules>
        <ServU_BlogProducts>
            <version>0.0.2</version>
        </ServU_BlogProducts>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <ServU_BlogProducts before="Mage_Adminhtml">ServU_BlogProducts_Adminhtml</ServU_BlogProducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <blogproducts>
                    <file>servu_blogproducts.xml</file>
                </blogproducts>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <ServU_BlogProducts_Observer>
                        <type>singleton</type> 
                        <class>blogproducts/observer</class> 
                        <method>saveProductBlogData</method> 
                    </ServU_BlogProducts_Observer>
                </observers>
            </catalog_product_save_after>
            <controller_action_postdispatch_blog_admin_manage_blog_save>
                <observers>
                    <ServU_BlogProducts_Observer>
                        <type>singleton</type>
                        <class>blogproducts/observer</class>
                        <method>saveBlogProductRelationship</method>
                    </ServU_BlogProducts_Observer>
                </observers>
            </controller_action_postdispatch_blog_admin_manage_blog_save>
            <controller_action_postdispatch_blog_admin_manage_blog_delete>
                <observers>
                    <ServU_BlogProducts_Observer>
                        <type>singleton</type>
                        <class>blogproducts/observer</class>
                        <method>deleteBlogProductRelationship</method>
                    </ServU_BlogProducts_Observer>
                </observers>
            </controller_action_postdispatch_blog_admin_manage_blog_delete>
            <controller_action_postdispatch_blog_admin_manage_blog_massDelete>
                <observers>
                    <ServU_BlogProducts_Observer>
                        <type>singleton</type>
                        <class>blogproducts/observer</class>
                        <method>massdeleteBlogProductRelationship</method>
                    </ServU_BlogProducts_Observer>
                </observers>
            </controller_action_postdispatch_blog_admin_manage_blog_massDelete>
        </events>
    </adminhtml>
    <frontend>
        
        
        <events>
        <!--
            <controller_action_postdispatch_blog_admin_manage_comment_save>
            <controller_action_predispatch_blog_admin_post_view>            
        -->
            <controller_action_predispatch_blog_post_view>
                <observers>
                    <ServU_BlogProducts_Observer>
                        <type>singleton</type>
                        <class>blogproducts/observer</class>
                        <method>processBlogCommentSubmission</method>
                    </ServU_BlogProducts_Observer>
                </observers>
            </controller_action_predispatch_blog_post_view>
        </events>
        
        
        <layout>
            <updates>
                <blogproducts>
                    <file>servu_blogproducts.xml</file>
                </blogproducts>
            </updates>
        </layout>
        <routers>
          <blogproducts>
              <use>standard</use>
              <args>
                 <module>ServU_BlogProducts</module>
                 <frontName>blogproducts</frontName>
              </args>
           </blogproducts>
        </routers>
    </frontend>
    <global>
        <models>
            <blogproducts>
                <class>ServU_BlogProducts_Model</class>
                <resourceModel>blogproducts_mysql4</resourceModel>
            </blogproducts>
            <blogproducts_mysql4>
                <class>ServU_BlogProducts_Model_Mysql4</class>
                <entities>
                    <blogproducts>
                        <table>servu_blogproducts</table>
                    </blogproducts>
                    <productblogs>
                        <table>servu_productblogs</table>
                    </productblogs>
                    <blogbanners>
                        <table>servu_blog_banners</table>
                    </blogbanners>
                </entities>
            </blogproducts_mysql4>
        </models>
        <blocks>
            <blogproducts>
                <class>ServU_BlogProducts_Block</class>
            </blogproducts>
            <blog>
                <rewrite>
                    <manage_blog_edit_tabs>ServU_BlogProducts_Block_Adminhtml_Blog_Edit_Tabs</manage_blog_edit_tabs>
                </rewrite>
            </blog>
        </blocks>
        <resources>
            <blogproducts_setup>
                <setup>
                    <module>ServU_BlogProducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blogproducts_setup>
            <blogproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blogproducts_write>
            <blogproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blogproducts_read>
        </resources>
        <helpers>
            <blogproducts>
                <class>ServU_BlogProducts_Helper</class>
            </blogproducts>
        </helpers>
    </global>
</config>