<?xml version="1.0"?>
<config>
    <modules>
        <Primeinteractive_Mapp>
        <version>0.1.0</version>
        </Primeinteractive_Mapp>
    </modules>
    <frontend>
        <routers>
            <Mapp>
                <use>standard</use>
                <args>
                    <module>Primeinteractive_Mapp</module>
                    <frontName>mapp</frontName>
                </args>
            </Mapp>
        </routers>
        <layout>
            <updates>
                <mapp>
                    <file>mapp.xml</file>
                </mapp>
            </updates>
        </layout>
    </frontend>
    
    <admin>
        <routers>
            <mapp>
                <use>admin</use>
                <args>
                    <module>Primeinteractive_Mapp</module>
                    <frontName>mapp_admin</frontName>
                </args>
            </mapp>
        </routers>
    </admin>
    
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <mapp module="mapp">
                        <title>Mapp Requests</title>
                        <sort_order>71</sort_order>               
                        <action>mapp/adminhtml_mapp</action>
                    </mapp>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Primeinteractive_Mapp>
                            <title>Mapp Module</title>
                            <sort_order>10</sort_order>
                        </Primeinteractive_Mapp>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mapp>
                    <file>mapp.xml</file>
                </mapp>
            </updates>
        </layout>
    </adminhtml>   

    <global>
        <models>
            <mapp>
                <class>Primeinteractive_Mapp_Model</class>
                <resourceModel>mapp_mysql4</resourceModel>
            </mapp>
            <mapp_mysql4>
                <class>Primeinteractive_Mapp_Model_Mysql4</class>
                <entities>
                    <mapp>
                        <table>mapp</table>
                    </mapp>
                </entities>
            </mapp_mysql4>
        </models>
        <resources>
            <mapp_setup>
                <setup>
                    <module>Primeinteractive_Mapp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mapp_setup>
            <mapp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mapp_write>
            <mapp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mapp_read>
        </resources>
        <blocks>
            <mapp>
                <class>Primeinteractive_Mapp_Block</class>
            </mapp>
        </blocks>
        <helpers>
            <mapp>
                <class>Primeinteractive_Mapp_Helper</class>
            </mapp>
        </helpers>
        <events>
            <sales_quote_address_discount_item>
                <observers>
                    <checkoutApplyMappCoupon>
                        <type>singleton</type>
                        <class>Primeinteractive_Mapp_Model_Observer</class>
                        <method>applyCoupon</method>
                    </checkoutApplyMappCoupon>
                </observers>
            </sales_quote_address_discount_item>
            <sales_quote_collect_totals_before>
                <observers>
                    <checkoutValidateMappCoupons>
                        <type>singleton</type>
                        <class>Primeinteractive_Mapp_Model_Observer</class>
                        <method>validateCoupons</method>
                    </checkoutValidateMappCoupons>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
    </global>
</config>