<?xml version="1.0"?>
<config>
    <modules>
        <Aero_Catalogrequest>
            <version>0.1.2</version>
        </Aero_Catalogrequest>
    </modules>
    <frontend>
        <routers>
            <catalogrequest>
                <use>standard</use>
                <args>
                    <module>Aero_Catalogrequest</module>
                    <frontName>catalogrequest</frontName>
                </args>
            </catalogrequest>
        </routers>
        <layout>
            <updates>
                <catalogrequest>
                    <file>catalogrequest.xml</file>
                </catalogrequest>
            </updates>
        </layout>
    </frontend>
    <!--<admin>
        <routers>
            <catalogrequest>
                <use>admin</use>
                <args>
                    <module>Aero_Catalogrequest</module>
                    <frontName>catalogrequestreport</frontName>
                </args>
            </catalogrequest>
        </routers>
    </admin>-->
    <adminhtml>
        <menu>
            <customer>
                <children>
            <catalogrequest module="catalogrequest">
                <title>Catalog Requests</title>
                <action>catalogrequest/adminhtml_catalogrequest</action>
            </catalogrequest>
            </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Aero_Catalogrequest>
                            <title>Catalogrequest Module</title>
                            <sort_order>10</sort_order>
                        </Aero_Catalogrequest>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <catalogrequest>
                    <file>catalogrequest.xml</file>
                </catalogrequest>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <catalogrequest>
                <class>Aero_Catalogrequest_Model</class>
                <resourceModel>catalogrequest_mysql4</resourceModel>
            </catalogrequest>
            <catalogrequest_mysql4>
                <class>Aero_Catalogrequest_Model_Mysql4</class>
                <entities>
                    <catalogrequest>
                        <table>catalogrequest</table>
                    </catalogrequest>
                </entities>
            </catalogrequest_mysql4>
        </models>
        <resources>
            <catalogrequest_setup>
                <setup>
                    <module>Aero_Catalogrequest</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catalogrequest_setup>
            <catalogrequest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catalogrequest_write>
            <catalogrequest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catalogrequest_read>
        </resources>
        <blocks>
            <catalogrequest>
                <class>Aero_Catalogrequest_Block</class>
            </catalogrequest>
        </blocks>
        <helpers>
            <catalogrequest>
                <class>Aero_Catalogrequest_Helper</class>
            </catalogrequest>
        </helpers>
        <events>
            <controller_action_predispatch_catalogrequest_index_post>
                <observers>
                    <module>
                        <class>catalogrequest/observer</class>
                        <method>checkRobot</method>
                    </module>
                </observers>
            </controller_action_predispatch_catalogrequest_index_post>
        </events>
    </global>
</config>