.sightmax-rightside {text-align:right; margin-bottom:10px}
.sightmax-leftside {text-align:left; margin-bottom:10px}
.sightmax-body {bottom:10px;cursor:pointer;position:fixed;right:20px;bottom:20px}
.sightmax-footer{float:left; margin-left:10px} 
