<?xml version="1.0"?>
<config>
    <modules>
        <SD_AdvancedAttributes>
            <version>0.1.0</version>
        </SD_AdvancedAttributes>
    </modules>
    <admin>
        <routers>
            <sd_advancedattributes>
                <use>admin</use>
                <args>
                    <module>SD_AdvancedAttributes</module>
                    <frontName>sd_advancedattributes</frontName>
                </args>
            </sd_advancedattributes>
        </routers>
    </admin> 
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <attributes>
                        <children>
                            <advancedattributes module="advancedattributes">
                                <title>Advanced Attributes</title>
                                <sort_order>31</sort_order>
                                <children>
                                    <filters module="advancedattributes">
                                        <title>Manage Filters</title>
                                        <sort_order>0</sort_order>
                                        <action>sd_advancedattributes/manage_filters/index</action>
                                    </filters>
                                    <configurables module="advancedattributes">
                                        <title>Manage Swatches</title>
                                        <sort_order>10</sort_order>
                                        <action>sd_advancedattributes/manage_configurables/index</action>
                                    </configurables>
                                </children>
                            </advancedattributes>
                        </children>
                    </attributes>
                </children>
        </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <advancedattributes translate="title">
                                            <title>Advanced Attributes</title>
                                            <sort_order>550</sort_order>
                                        </advancedattributes>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <catalog>
                            <children>
                                <attributes>
                                    <children>
                                        <advancedattributes>
                                            <title>Advanced Attributes</title>
                                            <sort_order>31</sort_order>
                                            <children>
                                                <filters>
                                                    <title>Manage Filters</title>
                                                    <sort_order>0</sort_order>
                                                </filters>
                                                <configurables>
                                                    <title>Manage Configurables</title>
                                                    <sort_order>10</sort_order>
                                                </configurables>
                                            </children>
                                        </advancedattributes>
                                    </children>
                                </attributes>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <advancedattributes>
                    <file>sd_advancedattributes.xml</file>
                </advancedattributes>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <sd_advancedattributes before="Mage_Catalog">SD_AdvancedAttributes</sd_advancedattributes>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <sd_advancedattributes before="Mage_CatalogSearch">SD_AdvancedAttributes</sd_advancedattributes>
                    </modules>
                </args>
            </catalogsearch>
            <cms>
                <use>standard</use>
                <args>
                    <modules>
                        <sd_advancedattributes before="Mage_Cms">SD_AdvancedAttributes</sd_advancedattributes>
                    </modules>
                </args>
            </cms>
        </routers>
        <layout>
            <updates>
                <advancedattributes>
                    <file>advancedattributes.xml</file>
                </advancedattributes>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <advancedattributes>
                <class>SD_AdvancedAttributes_Model</class>
                <resourceModel>advancedattributes_mysql4</resourceModel>
            </advancedattributes>
            <advancedattributes_mysql4>
                <class>SD_AdvancedAttributes_Model_Mysql4</class>
                <entities>
                    <advancedattributes>
                        <table>sd_advancedattributes_filters</table>
                    </advancedattributes>   
                    <options>
                        <table>sd_advancedattributes_options</table>
                    </options>
                    <configurables>
                        <table>sd_advancedattributes_configurables</table>
                    </configurables>
                    <configurableOptions>
                        <table>sd_advancedattributes_configurables_options</table>
                    </configurableOptions>
                </entities>
            </advancedattributes_mysql4>
            <catalog>
                <rewrite>
                    <layer_filter_decimal>SD_AdvancedAttributes_Model_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_category>SD_AdvancedAttributes_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_price>SD_AdvancedAttributes_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_attribute>SD_AdvancedAttributes_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_item>SD_AdvancedAttributes_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer>SD_AdvancedAttributes_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>SD_AdvancedAttributes_Model_Catalogsearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext_collection>SD_AdvancedAttributes_Model_Mysql4_Product_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_mysql4>
        </models>
        <blocks>
            <advancedattributes>
                <class>SD_AdvancedAttributes_Block</class>
            </advancedattributes>
            <catalog>
                <rewrite>
                    <layer_view>SD_AdvancedAttributes_Block_Catalog_Layer_View</layer_view>
                    <layer_filter_attribute>SD_AdvancedAttributes_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>SD_AdvancedAttributes_Block_Catalog_Layer_Filter_Category</layer_filter_category>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>SD_AdvancedAttributes_Block_Catalogsearch_Layer</layer>
                    <layer_filter_attribute>SD_AdvancedAttributes_Block_Catalogsearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
        </blocks>
        <resources>
            <advancedattributes_setup>
                <setup>
                    <module>SD_AdvancedAttributes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedattributes_setup>
            <advancedattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedattributes_write>
            <advancedattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedattributes_read>
        </resources>
        <helpers>
            <advancedattributes>
                <class>SD_AdvancedAttributes_Helper</class>
            </advancedattributes>
        </helpers>
    </global>
</config>

