<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SD_Manager>
            <version>0.2.0</version>
        </SD_Manager>
    </modules>
    <frontend>
        <routers>
            <manufacturerinfo>
                <use>standard</use>
                <args>
                    <module>SD_Manager</module>
                    <frontName>manufacturerinfo</frontName>
                </args>
            </manufacturerinfo>
        </routers>
        <layout>
          <updates>
              <sd_manager>
                  <file>sd_manager.xml</file>
              </sd_manager>
          </updates>
      </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <SD_Manager before="Mage_Adminhtml">SD_Manager_Adminhtml</SD_Manager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <sd_manager>
                <class>SD_Manager_Model</class>
                <resourceModel>sd_manager_mysql4</resourceModel>
            </sd_manager>
            <sd_manager_mysql4>
                <class>SD_Manager_Model_Mysql4</class>
                <entities>
                    <manufacturer>
                        <table>sd_manager_manufacturer</table>
                    </manufacturer>
                </entities>
            </sd_manager_mysql4>
        </models>
        <resources>
            <sd_manager_setup>
                <setup>
                    <module>SD_Manager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sd_manager_setup>
            <sd_manager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sd_manager_write>
            <sd_manager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sd_manager_read>
        </resources>
        <blocks>
            <sd_manager><class>SD_Manager_Block</class></sd_manager>
        </blocks>
        <helpers>
            <sd_manager>
                <class>SD_Manager_Helper</class>
            </sd_manager>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <manager>
                        <type>singleton</type>
                        <class>SD_Manager_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </manager>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>    
</config>