<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Alin_ProductGift>
            <version>1.0.1</version>
        </Alin_ProductGift>
    </modules>
    <global>
        <models>
            <alin_productgift>
                <class>Alin_ProductGift_Model</class>
                <resourceModel>productgift_mysql4</resourceModel>
            </alin_productgift>
            <alin_productgift_mysql4>
                <class>Alin_ProductGift_Model_Mysql4</class>
                <entities>
                	<productgift>
                	</productgift>
                </entities>
            </alin_productgift_mysql4>
        </models>
        <blocks>
            <productgift>
                <class>Alin_ProductGift_Block</class>
            </productgift>
            
        </blocks>
        <resources>
            <productgift_setup>
                <setup>
                    <module>Alin_ProductGift</module>
                    <class>Alin_ProductGift_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productgift_setup>
            <productgift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productgift_write>
            <productgift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productgift_read>
        </resources>
        
        <helpers>
    		<productgift>
    			<class>Alin_ProductGift_Helper</class>
    		</productgift>
    		<catalog>
    			<rewrite>
    				<output>Alin_ProductGift_Helper_Output</output>
    				<image>Alin_ProductGift_Helper_Image</image>
     			</rewrite>
    		</catalog>
    		
    	</helpers>
    	<events>
        	<catalog_product_save_before>
				<observers>
					<alin_productgift_observer>
						<type>singleton</type>
						<class>alin_productgift/observer</class>
						<method>checkSKU</method>
					</alin_productgift_observer>
				</observers>
			</catalog_product_save_before>
		</events>
    </global>
    <adminhtml>
    </adminhtml>
    <admin>
    </admin>
    <frontend>
    	<events>
    		<checkout_cart_product_add_after>
                <observers>
                    <alin_productgift_observer>
                        <type>singleton</type>
                        <class>alin_productgift/observer</class>
                        <method>addGift</method>
                    </alin_productgift_observer>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_before>
            	<observers>
                    <alin_productgift_observer>
                        <type>singleton</type>
                        <class>alin_productgift/observer</class>
                        <method>updtatePGift</method>
                    </alin_productgift_observer>
                </observers>
            </checkout_cart_update_items_before>
            <sales_quote_remove_item>
            	<observers>
                    <alin_productgift_observer>
                        <type>singleton</type>
                        <class>alin_productgift/observer</class>
                        <method>deletePGift</method>
                    </alin_productgift_observer>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_update_items_after>
            	<observers>
                    <alin_productgift_observer>
                        <type>singleton</type>
                        <class>alin_productgift/observer</class>
                        <method>updtatePGiftA</method>
                    </alin_productgift_observer>
                </observers>
            </checkout_cart_update_items_after>
            
    	</events>
    	
    </frontend>
    
</config>