<?xml version="1.0"?>
<config>
    <modules>
        <ServU_MediaManager>
            <version>0.0.5</version>
        </ServU_MediaManager>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <ServU_MediaManager before="Mage_Adminhtml">ServU_MediaManager_Adminhtml</ServU_MediaManager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <manager module="mediamanager">
                        <title>Manage Media Files</title>
                        <sort_order>400</sort_order>
                        <action>adminhtml/files/index</action>
                    </manager>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <manager>
                                    <title>Manage Media Files</title>
                                    <sort_order>400</sort_order>
                                </manager>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mediamanager>
                    <file>servu_mediamanager.xml</file>
                </mediamanager>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <servu_save_product_data>
                        <type>singleton</type>
                        <class>mediamanager/observer</class>
                        <method>saveProductTabData</method>
                    </servu_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mediamanager>
                    <file>media_manager.xml</file>
                </mediamanager>
            </updates>
        </layout>        
        <routers>
          <mediamanager>
              <use>standard</use>
              <args>
                 <module>ServU_MediaManager</module>
                 <frontName>mediamanager</frontName>
              </args>
           </mediamanager>
       </routers>
    </frontend>
    <global>
        <models>
            <mediamanager>
                <class>ServU_MediaManager_Model</class>
                <resourceModel>mediamanager_mysql4</resourceModel>
            </mediamanager>
            <mediamanager_mysql4>
                <class>ServU_MediaManager_Model_Mysql4</class>
                <entities>
                    <mediamanager>
                        <table>servu_mediamanager_files</table>
                    </mediamanager>
                    <products>
                        <table>servu_mediamanager_products</table>
                    </products>
                    <productfiles>
                        <table>servu_mediamanager_products</table>
                    </productfiles>
                </entities>
            </mediamanager_mysql4>
        </models>
        <blocks>
            <mediamanager>
                <class>ServU_MediaManager_Block</class>
            </mediamanager>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>ServU_MediaManager_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <mediamanager_setup>
                <setup>
                    <module>ServU_MediaManager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mediamanager_setup>
            <mediamanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mediamanager_write>
            <mediamanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mediamanager_read>
        </resources>
        <helpers>
            <mediamanager>
                <class>ServU_MediaManager_Helper</class>
            </mediamanager>
        </helpers>
    </global>
</config>